In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import sys
import os
import math
%matplotlib inline

In [3]:

cwd = os.getcwd()
print(cwd)
df = pd.read_csv(cwd +'/src/csv/heart.csv')

C:\Users\Olive\Documents\Google Data Analytics\Ask Questions to Make DDD\Module 3

In [4]:
df.sample(5)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
228,41,M,ATA,120,295,0,Normal,170,N,0.0,Up,0
474,62,M,ATA,131,0,0,Normal,130,N,0.1,Up,0
319,68,M,ASY,145,0,1,Normal,136,N,1.8,Up,1
476,51,M,ASY,132,218,1,LVH,139,N,0.1,Up,0
555,58,M,NAP,150,219,0,ST,118,Y,0.0,Flat,1

In [5]:
df.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

In [5]:
# Mean, Varience and Standard Deviation

x = [30, 45, 60, 50, 40, 55, 70, 35, 65, 50, 42]
total = 0
n = 0
for num in x:
    print(total)
    total = total + num
    n = n + 1
mean = total / n

print(str(mean))
deviations = 0
for num in x:
    deviations = deviations + (num - mean) ** 2

sd = deviations/(n-1)
var = sd**(1/2)

print("mean = "+str(mean))
print("var = "+str(var))
print("sd = "+str(sd))
print("n = " +str(n))

mean =5000

0
30
75
135
185
225
280
350
385
450
500
49.27272727272727
mean = 49.27272727272727
var = 12.482715322323978
sd = 155.8181818181818
n = 11