In [1]:
# Numerical computing
# Data Analytic tool
# AI modeling tool
# Graph and plots tool

!pip install numpy==2.2.0 
!pip install pandas==2.2.3 
!pip install scikit-learn==1.6.0 
!pip install matplotlib==3.9.3

In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

In [4]:
url= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-ML0101EN-SkillsNetwork/labs/Module%202/data/FuelConsumptionCo2.csv"

In [5]:
df=pd.read_csv(url)

In [6]:
# verify successful load with some randomly selected records
df.sample(5)

,MODELYEAR,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
797,2014,MINI,COOPER S COUNTRYMAN ALL4,COMPACT,1.6,4,M6,Z,9.3,7.5,8.5,33,196
404,2014,FORD,FOCUS FFV,COMPACT,2.0,4,AS6,E,11.7,8.5,10.3,27,165
554,2014,JAGUAR,XFR-S,MID-SIZE,5.0,8,AS8,Z,15.7,10.3,13.3,21,306
937,2014,SCION,xD,SUBCOMPACT,1.8,4,M5,X,8.6,7.1,7.9,36,182
451,2014,GMC,SAVANA 3500 PASSENGER,VAN - PASSENGER,6.0,8,A6,X,22.1,15.0,18.9,15,435

In [7]:
df.describe()

,MODELYEAR,ENGINESIZE,CYLINDERS,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
count,1067.0,1067.000000,1067.000000,1067.000000,1067.000000,1067.000000,1067.000000,1067.000000
mean,2014.0,3.346298,5.794752,13.296532,9.474602,11.580881,26.441425,256.228679
std,0.0,1.415895,1.797447,4.101253,2.794510,3.485595,7.468702,63.372304
min,2014.0,1.000000,3.000000,4.600000,4.900000,4.700000,11.000000,108.000000
25%,2014.0,2.000000,4.000000,10.250000,7.500000,9.000000,21.000000,207.000000
50%,2014.0,3.400000,6.000000,12.600000,8.800000,10.900000,26.000000,251.000000
75%,2014.0,4.300000,8.000000,15.550000,10.850000,13.350000,31.000000,294.000000
max,2014.0,8.400000,12.000000,30.200000,20.500000,25.800000,60.000000,488.000000